/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 16 ene 2025, 01:29:32
    Author     : jl4ma
*/
.descubrimientosContenido{
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
    margin-top: 6rem;
    margin-right: 2rem;
}
.primerPost, .segundoPost{
    display: flex; /* Organiza los elementos en filas o columnas */
    flex-direction: row; /* Coloca las columnas lado a lado */
    gap: 1rem;
    margin-bottom: 2rem;
}

.postComun{
    text-align: center;
    justify-content: center;
}
.postComun img{
    width: 900px; 
     height: 150px; 
}
.postComun2{
    text-align: center;
    justify-content: center;
     border: 2px solid #ccc;
      transition: border-color 0.3s, box-shadow 0.3s;
}
.postComun2:hover{
    border-color: #e74c3c; /* Cambia el color del borde */
    box-shadow: 0 0 15px rgba(231, 76, 60, 0.7); /* Añade una sombra */
}
.postComun2 img{
    width: 900px; 
     height: 150px; 
}
.userFecha, .tituloPost{
    font-size: 32px;
}
.comentarios{
    font-size: 20px;
    text-align: left;
}
.comentariosTodos{
    background-color: #100F0F;
    text-align: left;
    padding: 2rem;
    margin-bottom: 3rem;
    margin-right: 5rem;
    margin-left: 5rem;
}
.coments3{
    margin-left: 5rem;
}
.comentariosTodos button{
    color: #FFFFFF;
    font-size: 10px;
    font-family: "Goblin One", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F53952;
    padding: 1rem;
    border-radius: 20px
}
.botones{
    text-align: center;
    justify-content: center; 
    
}
.anclar{
    color: #FFFFFF;
    font-size: 24px;
    font-family: "Goblin One", serif;
    font-weight: 400;
    font-style: normal;
    padding: 1rem;
    background-color: #A98FF6;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.eliminar{
    color: #FFFFFF;
    font-size: 24px;
    font-family: "Goblin One", serif;
    font-weight: 400;
    font-style: normal;
    padding: 1rem;
    background-color: #F53952;
    border-radius: 20px;
}
.desanclar{
    color: #FFFFFF;
    font-size: 24px;
    font-family: "Goblin One", serif;
    font-weight: 400;
    font-style: normal;
    padding: 1rem;
    background-color: #A98FF6;
    border-radius: 20px;
    margin-bottom: 1rem;
}
textArea{
    width: 700px; /* Ancho equivalente a "cols" */
    height: 40px; /* Alto equivalente a "rows" */
    font-size: 10px; /* Tamaño de texto */
    line-height: 10px; /* Altura de línea que afecta a cada fila */
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.anclado1{
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
     border: 2px solid #ccc;
      transition: border-color 0.3s, box-shadow 0.3s;
}
.anclado1:hover{
    border-color: #e74c3c;  
    box-shadow: 0 0 15px rgba(231, 76, 60, 0.7);  
}
.anclado1 img{
    width: 1000px; 
     height: 150px; 
}
