<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>FiltroIniciarSesion</filter-name>
        <filter-class>filtros.FiltroIniciarSesion</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroIniciarSesion</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CrearPost</servlet-name>
        <servlet-class>servlets.CrearPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnclarPost</servlet-name>
        <servlet-class>servlets.AnclarPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarComentario</servlet-name>
        <servlet-class>servlets.EliminarComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPost</servlet-name>
        <servlet-class>servlets.EliminarPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>servlets.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Noticias</servlet-name>
        <servlet-class>servlets.Noticias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Descubrimientos</servlet-name>
        <servlet-class>servlets.Descubrimientos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Planetas</servlet-name>
        <servlet-class>servlets.Planetas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fenomenos</servlet-name>
        <servlet-class>servlets.Fenomenos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post</servlet-name>
        <servlet-class>servlets.Post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPost</servlet-name>
        <servlet-class>servlets.EditarPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contenido</servlet-name>
        <servlet-class>servlets.Contenido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>servlets.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilUsuario</servlet-name>
        <servlet-class>servlets.PerfilUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComentarPost</servlet-name>
        <servlet-class>servlets.ComentarPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponderComentario</servlet-name>
        <servlet-class>servlets.ResponderComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesanclarPost</servlet-name>
        <servlet-class>servlets.DesanclarPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearPost</servlet-name>
        <url-pattern>/CrearPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnclarPost</servlet-name>
        <url-pattern>/AnclarPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarComentario</servlet-name>
        <url-pattern>/EliminarComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPost</servlet-name>
        <url-pattern>/EliminarPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Noticias</servlet-name>
        <url-pattern>/Noticias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Descubrimientos</servlet-name>
        <url-pattern>/Descubrimientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Planetas</servlet-name>
        <url-pattern>/Planetas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fenomenos</servlet-name>
        <url-pattern>/Fenomenos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post</servlet-name>
        <url-pattern>/Post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPost</servlet-name>
        <url-pattern>/EditarPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contenido</servlet-name>
        <url-pattern>/Contenido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/RegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilUsuario</servlet-name>
        <url-pattern>/PerfilUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComentarPost</servlet-name>
        <url-pattern>/ComentarPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponderComentario</servlet-name>
        <url-pattern>/ResponderComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesanclarPost</servlet-name>
        <url-pattern>/DesanclarPost</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- Página de error 404 -->
    <error-page>
        <error-code>404</error-code>
        <location>/errores/PaginaNoEncontrada.jsp</location>
    </error-page>
    <!-- Página de error 500 -->
    <error-page>
        <error-code>500</error-code>
        <location>/errores/ErrorServidor.jsp</location>
    </error-page>
</web-app>
